<div class="row p-0 m-0 search-form js-search-form" style="position: relative;" id="search-form">
    <form onsubmit="return false;" class="col-12 input-group m-1 p-2">
        <input  [formControl]="queryField" type="text" autocomplete="off" class="form-control border_round" name="search" placeholder="Search..." autofocus >
        <span class="input-group-btn">
            <button class="btn btn-outline-light border_round_right" type="submit"> <fa-icon  [icon]="searchIcon" size="lg"></fa-icon></button>
        </span>
    </form>
    <ul class="list-group col-lg-3 col-md-3 col-11 m-auto p-0">
        <li *ngFor="let result of results" class="list-group-item m-0 p-0 py-2 pointer">
            <div class='row p-0 m-0' (click)="visit_profile(result._id)">
                <div class="col-lg-3 col-4 m-auto w-100 p-0">
                    <img class='m-auto border_round p-0' style="width: 100%; max-height: 100px;" src='{{linkimage}}{{result._id}}.jpg' onError="this.src='../../assets/images/noprofile.jpg';">
                </div> 
                <div class="col-lg-9 col-8 m-auto">
                    <div class="bold m-auto text-dark"> 
                        {{result.lastname}} {{result.firstname}}
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

