<div *ngIf="auth.isLoggedIn" class="col-lg-8 col-md-8 order-md-2 order-2 p-0 pr-3 ">
    <app-quickaccess></app-quickaccess>
    <div class="col-lg-8 col-md-8 order-md-2 order-2 float-right mr-2 ml-auto pl-0 p-3 my-5 ">
        <div class="row p-0 pt-3 m-5">
            <div class="col-lg-12 col-md-12 col-12 text-center m-auto p-0">
                <div class="row p-0 pb-3 text-primary  m-0 m-4 text-center">
                    <div class="col-12 m-auto p-0">
                        <h2>Classes of {{Semester?.description}}</h2>
                        <fa-icon [icon]="classListIcon" class="m-auto p-0" size="3x"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-0 m-auto">

            <div *ngFor="let classe of Semester?.classes" class="col-lg-6 col-10 pointer m-auto" (click)="groups(classe[0]?._id)" >
                <div class="profile-userpic text-center float-left w-100">
                    <img src="../../assets/images/android.jpg" class="img-responsive shadow text-center border_round mb-2" width="80" height="80" alt="profile image">
                </div>
                <div class="profile-usertitle bg-light rounded shadow pb-4 mb-4">
                    <div class="profile-usertitle-name">
                       {{classe[0]?.name}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{classe[0]?.groups.length}} group(s)
                    </div>
                </div> 
            </div>

       
           
        </div>
    </div>
    
</div>