
.pointer .profile-usertitle:hover{
  background-color:rgb(56, 55, 55) !important;
}
.profile-sidebar{
    position: fixed;
    top:5vh;
    right:1vw;
    width:100%;
    max-height:120vh;
    margin-top:20px;
    margin-bottom:30px;
    text-align:center;
    overflow: auto;
    z-index:1;
}
.profile {
    margin: 20px 0;
    position:sticky;
  }
  
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
  }
  
  .profile-userpic img {
    margin: auto;
    border:5px white solid;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
  }
  
  
  