//https://indepth.dev/lets-implement-a-theme-switch-like-the-angular-material-site/
.btn:focus {outline:0;}

*:focus {outline:none !important}

html {
  filter: saturate(1.2) !important;
}
  button:focus {outline:0;}

  .bold{
    font-weight:bold;
  }
  *:focus {
    outline-color: #17a2b8 !important;
  }
  .pointer{
    cursor:pointer;
  }
  .cursor{
    cursor:default !important;
  }
  .cursor_txt{
    cursor:text !important;
  }
  .border_round{
    border-radius:50px;
  }
  .border_round_right{
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
  }
  .border_round_left{
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
  }
  .border_round_top_right{
    border-top-right-radius:50px;
  }
  .border_round_top_left{
    border-top-left-radius:50px;
  }
  .hover_blue:hover{
    color:blue !important;
  }
  .active_blue{
    color:blue !important;
  }
  .hover_orange:hover{
    color:orange !important;
  }
  .dropdown-item:active {
    background-color: #17a2b8!important;
}

.border_teacher{
  border:solid 3px orange;
}