<!--<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Dora</span>
      <span class="spacer"></span>
      <app-toggle 
        [options]="options$ | async"
        (themeChange)="themeChangeHandler($event)">
      </app-toggle>
    </mat-toolbar-row>
</mat-toolbar>-->
<footer>
    <div class="collapse" id="about">
        <div class="card card-body bg-light">
            &copy;2020 - BOUKEDIRA Salah Eddine & SAIDANA Malek
        </div>
    </div>
</footer>