

  .notif-text{
    max-width:100%;
    display:inline-flex;
    word-wrap: break-word !important;
}
.notification_item{
    border-bottom:1px #f0f4f7 solid;
    color:gray;
    text-align:left;
    padding:14px;
}
.notification_item:last-child{
    border:0;
}
.head{
    position: fixed;;
    min-width:100%;
    z-index:2;
    background-color:#231F20;
}

.disabled {
    pointer-events:none;
    opacity:0.6; 
}

.dropdown-item:active {
    background-color: #17a2b8!important;
}
.notifications{
    max-height: 50vh;
    overflow-x: auto;
}
@media (max-width: 767px) {
    .notif-menu{
         text-align:center !important;
     }
     .head{
        position: relative;
        min-width:100%;
        top:0;
        z-index:2;
        background-color:#231F20;
    }
}