<div *ngIf="authService.isLoggedIn" [ngClass]="authService.isAdmin?'bg-info text-white':( authService.isTeacher?'bg-warning text-white': '')"  class="head row p-0 m-0">
    <div class="col-md-10 col-12 m-auto">
        <header class="header row p-0 m-0">
            <nav class="col-md-3 col-8 order-md-1 navbar navbar-default navbar-fixed-top menu p-0 m-0">
                <div class="container p-0 m-0">
                    <a class="navbar-brand bg-light border_round p-0 m-2" href="/">
                        <img src="../../assets/images/logo.png" width="50" height="50" class="d-inline-block align-top" alt="logo image">
                    </a>
                </div>
            </nav>
            <div class="col-md-1 order-md-5 col-4 p-0 m-0">
                <div class="btn text-light  float-right hover_blue border-0 m-2 pointer" data-toggle="collapse" data-target="#about" aria-expanded="false" aria-controls="about">
                    <fa-icon  [icon]="infoIcon" size="2x"></fa-icon>
                </div>
            </div>
            
            <div class="col-md-4 col-10 p-0 m-auto order-md-3 d-flex flex-column-reverse flex-sm-column">
                <app-search></app-search>
            </div>
            <div class="col-md-4 col-12 text-right notif-menu m-auto dropdown order-md-4">
               <div class="btn text-light hover_orange m-2 disabled"  style="background-color: transparent !important;"  type="button" id="notifications-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <fa-icon  [icon]="notificationIcon" size="2x" ></fa-icon>
                    <div class="notifications dropdown-menu shadow-sm rounded m-0 p-0" aria-labelledby="notifications-center" style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <h4 class="bg-light py-4 m-0 mt-0 notif-head cursor text-center"><fa-icon  [icon]="notificationIcon" size="2x"></fa-icon></h4>
                        <div class="row p-0 m-0">
                            <div class="notification_item col-12 dropdown-item">
                                <div class="row p-0 m-0">
                                    <span class="col-10"><b>Malek saidana</b><br/> sent you a message.</span>
                                    <div class="col-2 p-1 m-0">
                                        <fa-icon class="hover_orange btn text-danger  float-right border-0 pointer p-0 m-0" [icon]="notificationDeleteIcon" size="lg"></fa-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="notification_item col-12 dropdown-item">
                                <div class="row p-0 m-0">
                                    <span class="col-10"><b>Assile Cherief</b><br/> sent you a message.</span>
                                    <div class="col-2 p-1 m-0">
                                        <fa-icon class="hover_orange btn text-danger  float-right border-0 pointer p-0 m-0" [icon]="notificationDeleteIcon" size="lg"></fa-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="notification_item col-12 dropdown-item">
                                <div class="row p-0 m-0">
                                    <span class="col-10"><b>Mohamed Jlassi</b><br/> sent you a message.</span>
                                    <div class="col-2 p-1 m-0">
                                        <fa-icon class="hover_orange btn text-danger  float-right border-0 pointer p-0 m-0" [icon]="notificationDeleteIcon" size="lg"></fa-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="notification_item col-12 dropdown-item">
                                <div class="row p-0 m-0">
                                    <span class="col-10"><b>Achraf Jahidi</b><br/> sent you a message.</span>
                                    <div class="col-2 p-1 m-0">
                                        <fa-icon class="hover_orange btn text-danger  float-right border-0 pointer p-0 m-0" [icon]="notificationDeleteIcon" size="lg"></fa-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="notification_item col-12 dropdown-item">
                                <div class="row p-0 m-0">
                                    <span class="col-10"><b>Marc Grenie</b><br/> has posted something new.</span>
                                    <div class="col-2 p-1 m-0">
                                        <fa-icon class="hover_orange btn text-danger  float-right border-0 pointer p-0 m-0" [icon]="notificationDeleteIcon" size="lg"></fa-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="notification_item col-12 dropdown-item">
                                <div class="row p-0 m-0">
                                    <span class="col-10"><b>Fernand tonye</b><br/> has posted something new.</span>
                                    <div class="col-2 p-1 m-0">
                                        <fa-icon class="hover_orange btn text-danger  float-right border-0 pointer p-0 m-0" [icon]="notificationDeleteIcon" size="lg"></fa-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="notification_item col-12 dropdown-item">
                                <div class="row p-0 m-0">
                                    <span class="col-10"><b>Reda Amiar</b><br/> sent you a message.</span>
                                    <div class="col-2 p-1 m-0">
                                        <fa-icon class="hover_orange btn text-danger  float-right border-0 pointer p-0 m-0" [icon]="notificationDeleteIcon" size="lg"></fa-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    
</div>