<div class="container-fluid m-0 mx-auto p-0" style="position:relative">
    
    <div class="container-fluid p-0 m-auto main-body" >
        <app-menu *ngIf="auth.isLoggedIn"></app-menu>
        <div *ngIf="auth.isLoggedIn" class="container-fluid p-0 m-0" id="myContainer">
            <section class="row profile p-0 m-0 main-section">
                <app-sidebar class="w-100"></app-sidebar>
            </section>
        </div>
        <div id="filler" style="overflow:hidden;">
            
            <router-outlet></router-outlet>  
            <div class="loading"></div>
        </div>
        <app-footer ></app-footer>
       
    </div>
</div>  
