<div *ngIf="infoservice.authService.isLoggedIn" class="col-lg-8 col-md-7 order-md-2 order-2  p-0 mx-0 my-4 float-left" >
    <div class="row text-center p-0 m-0">	
        <div class="modal fade" id="photoModal" role="dialog" >
            <div class="modal-dialog ">     
                <div class="modal-content">
                    <div>
                        <div class="modal-header text-center text-primary row p-0 m-0">
                            <button type="button" class="close col-2 float-right" data-dismiss="modal">&times;</button>
                            <br/>
                            <h3 class="m-auto pb-3 col-12">Change Profile Image</h3>

                        </div>
                        <div class="modal-body">               
                            <img id="imagemodal" [src]="url" *ngIf="url"/>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" (click)="onSubmitImageForm()" data-dismiss="modal">Confirm</button>
                            <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>	
        </div>
        <div class="modal fade" id="editModal" role="dialog" >
            <div class="modal-dialog my-auto">     
                <div class="modal-content m-auto">
                    <div>
                        <div class="modal-header text-center text-success row p-0 m-0">
                            <button type="button" id="edit_cancel_btn" class="close col-2 float-right" data-dismiss="modal">&times;</button>
                            <br/>
                            <h3 class="m-auto pb-3 col-12">Change Your Informations</h3>

                        </div>
                        <div class="modal-body">               
                            <form class="form" (ngSubmit)="onSubmitEditForm()" [formGroup]="userEdit">
                                <div class="form-group">
                                    <input type="email" formControlName="Email" id="email" class="form-control" name="email"  placeholder="Your Email" class="form-control border_round " [class.is-invalid] = "Email.invalid">
                                    <small class="text-muted bold">*Current: {{email}}</small>
                                    <div *ngIf="(Email.invalid) || Email.dirty">
                                        <small *ngIf="Email.errors?.required" class="text-danger">*Email is required</small>
                                        <small *ngIf="Email.errors?.pattern" class="text-danger">*Please provide a valid email address</small>
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <input type="tel" formControlName="Phone" name="phone" id="phone" placeholder="Your Phone" class="form-control border_round " [class.is-invalid] = "Phone.invalid">
                                    <small class="text-muted bold">*Current: {{phone}}</small>
                                    <div *ngIf="(Phone.invalid) || Phone.dirty">
                                        <small *ngIf="Phone.errors?.required" class="text-danger">*Phone number is required</small>
                                        <small *ngIf="Phone.errors?.pattern" class="text-danger">*Please provide a valid phone number</small>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <input type="password" formControlName="Password" name="password" id="password" placeholder="Your password" class="form-control border_round " [class.is-invalid] = "Password.invalid">
                                    <div *ngIf="err_password" class="alert-danger">
                                        {{err_password}}
                                    </div>
                                    <div *ngIf="Password.dirty || Password.invalid">
                                        <small *ngIf="Password.errors?.required" class="text-danger">*Your current password is required</small>
                                        <small *ngIf="Password.errors?.minlength" class="text-danger">*The minimum length is 6 characters</small>
                                    </div>
                                </div>
                                <div class="form-group text-muted">
                                    <h5>Change password</h5>
                                </div>
                                <div class="form-group">
                                    <input type="password" formControlName="NewPassword"  name="newpassword" id="newpassword" placeholder="Enter New password" class="form-control border_round " [class.is-invalid] = "NewPassword.invalid  && NewPassword.touched">
                                    <div *ngIf="NewPassword.touched || NewPassword.dirty">
                                        <small *ngIf="NewPassword.errors?.minlength" class="text-danger">*The minimum length is 6 characters</small>
                                    </div>
                                </div>
                                <div class="form-group"> 
                                    <input type="password" formControlName="ConfirmNewPassword" name="confirmnewpassword" id="confirmnewpassword" placeholder="Re-Enter New password" class="form-control border_round " [class.is-invalid] = "ConfirmNewPassword.invalid  && ConfirmNewPassword.touched">
                                    <div *ngIf="ConfirmNewPassword.touched || ConfirmNewPassword.dirty">
                                        <small *ngIf="ConfirmNewPassword.errors?.minlength" class="text-danger">*The minimum length is 6 characters</small>
                                        <br/>
                                        <small *ngIf="ConfirmNewPassword.errors?.passwordsMatch" class="text-danger bold">The two passwords don't match</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success border_round" ame="submit">Submit Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>	
        </div>	
        <div id="confirmModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="icon-box">
                            <fa-icon [icon]="confirmIcon" class="text-center" size="4x" ></fa-icon>
                        </div>				
                        <h4 class="modal-title w-100">Done!</h4>	
                    </div>
                    <div class="modal-body">
                        <p class="text-center">Your operation has been confirmed.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success btn-block" id="confirmmodalbtn" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>   
        <button class="btn btn-primary ml-auto" type="button" data-toggle="modal" [hidden]="true" id="openConfirmModalButton" data-target="#confirmModal" >confirm</button>

        <div class="col-lg-12 text-center offset-lg-12 my-5 mt-0 mx-0  p-0">
            <div class="row p-0 m-0">
                <div class="col-lg-4 col-md-12 col-12 p-0 m-0 mb-4 rounded bg-light"  style="height:fit-content">
                    <div class="row profile-img p-0 m-0 ">
                        <div class="col-lg-12 col-md-12 col-12 p-4 m-0 "  [ngClass]="(user?.role=='admin')?'bg-info text-white':((user?.role=='teacher')?'bg-warning text-white': '')" >
                            <div class="row float-right p-0 m-0 pointer edit-btn">
                                <fa-icon  data-toggle="modal" data-target="#editModal" [icon]="editIcon" class="col-2 text-danger m-auto p-0 hover_blue" size="2x"></fa-icon>
                            </div>
                            <div class="row py-3 m-0 text-left" >
                                <h4 class="col-12 p-0 m-0">
                                    {{upperCase(user?.lastname)}} {{user?.firstname}}
                                </h4>
                                <br/>
                                <button class="btn btn-primary ml-auto" type="button" data-toggle="modal" [hidden]="true" id="openModalButton" data-target="#photoModal" >open</button>
                                <span class="text-muted">
                                    {{user?.prog}}
                                    {{user?.speciality}}
                                    {{user?.fonction}}
                                </span>
                            </div>
                        </div>
                        <div class="col-12 p-0 m-0 text-center">
                            <div [innerHtml]='msg' *ngIf="msg" class="text-danger py-2 my-2 bold text-center" ></div>
                        </div>
                        <div class="row p-0 m-0 text-center" style="position: relative;">
                            <img src="{{profile_pic}}" onError="this.src='../../assets/images/noprofile.jpg';" alt="profile image"/>
                            <input  (change)="upload($event)"  type="file" accept='image/*' id ="uploadbtn" class="pointer" [hidden]='true' name="file"/>
                            <div class="file btn btn-lg btn-primary " (click)="uploadClick()">
                                <span>change photo</span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row p-2 m-2 text-left ">
                        <div class="col-12 p-0 m-0 text-left" style="word-break: break-all;">
                            <div class="row my-2">
                                    <fa-icon  [icon]="daIcon" class="col-2 text-muted" size="2x"></fa-icon>
                                    <span class="col-10 px-4">{{user?.da}}</span>
                            </div>
                            <div class="row my-2">
                                    <fa-icon  [icon]="profileIcon" class="col-2 text-danger" size="2x"></fa-icon>
                                    <span class="col-10 px-4">{{upperCase(user?.lastname)}} {{user?.firstname}}</span>
                            </div>
                            <div class="row my-2">
                                    <fa-icon  [icon]="birthdateIcon" class="col-2 text-warning" size="2x"></fa-icon>
                                    <span class="col-10 px-4">{{user?.birthdate}}</span>
                            </div>
                            <div class="row my-2 pointer hover_orange">
                                    <fa-icon  [icon]="emailIcon" class="col-2 text-success" size="2x"></fa-icon>
                                    <a href="mailto:{{user?.email}}" class="col-10 px-4">{{user?.email}}</a>
                            </div>
                            <div class="row my-2 pointer hover_blue"> 
                                    <fa-icon  [icon]="phoneIcon" class="col-2 text-primary" size="2x"></fa-icon>
                                    <a href="tel:{{user?.phone}}" class="col-10 px-4">{{user?.phone}}</a>
                            </div>
                            <div class="row my-2">
                                    <fa-icon  [icon]="programIcon" class="col-2 text-dark " size="2x"></fa-icon>
                                    <span class="col-10 px-4"> {{user?.prog}}
                                        {{user?.speciality}}
                                        {{user?.fonction}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-12 p-5 m-0 posts">
                    <div class="row p-0 pb-3 text-info  m-0 mb-4 text-center">
                        <div class="col-12 m-auto p-0">
                            <h2>TimeLine</h2>
                            <fa-icon  [icon]="timelineIcon" class="m-auto p-0" size="3x"></fa-icon>
                        </div>
                       
                    </div>
                    <div *ngFor="let post of posts " class="cardbox text-center bg-light rounded shadow-sm mx-0 px-0 mb-5 pb-3 ">
                        <div class="cardbox-heading px-3">
                            <div class="row dropdown p-0 m-0">
                                <div class="col-12 p-0 m-0">
                                    <div class="float-left">
                                        <span *ngIf="post.type==1" class="badge badge-pill p-2 m-2 badge-success">offering</span>
                                        <span *ngIf="post.type==2" class="badge badge-pill p-2 m-2 badge-warning">Searching</span>
                                    </div>
                                    <button class="btn btn-flat btn-flat-icon float-right p-0 m-0" type="button" data-toggle="dropdown" aria-expanded="false">
                                        <fa-icon [icon]="optionsIcon" size="lg"></fa-icon>
                                    </button>
                                    <div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu" style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px;">
                                        <a *ngIf="checkIdUser(post.userinfo._id)||infoservice.authService.isAdmin" (click)="deletePost(post._id)" class="dropdown-item delete-btn pointer"><fa-icon [icon]="deleteIcon" class="pl-0 ml-0 mr-2 text-danger" size="sm"></fa-icon> Delete</a>
                                        <a *ngIf="!checkIdUser(post.userinfo._id)" class="dropdown-item pointer" (click)="reportPost(post._id)"><fa-icon [icon]="reportIcon" class="text-warning pl-0 ml-0 mr-2" size="sm"></fa-icon> Report</a>
                                    </div>
                                </div>
                            </div>
                            <div class="media row m-0 text-center pb-2">
                                <div class=" col-lg-12 col-md-12 col-12 text-center">
                                    <div class="row p-0 m-0">
                                        <div class="col-3 m-auto p-0">
                                            <img class="border_round p-0 m-0 mb-2 pointer" width="70" height="70" (click)="visitProfile(post.userinfo._id)" src="{{profile_pic}}" onError="this.src='../../assets/images/noprofile.jpg';" alt="profile image">
                                        </div>
                                    </div>
                                </div>
                                <div class="media-body col-lg-12 col-md-12 col-12 text-center" >
                                    <h5 class="m-0 bold pointer"  [ngClass]="post.userinfo.fonction?'text-info':( post.userinfo.speciality?'text-warning': '')" (click)="visitProfile(post.userinfo._id)">{{upperCase(post.userinfo.lastname)}} {{post.userinfo.firstname}} </h5>
                                    <span class="text-secondary">{{post.userinfo?.prog}}{{post.userinfo?.speciality}}{{post.userinfo?.fonction}}</span>
                                    <br/>
                                    <small><span class="text-muted bold"><fa-icon [icon]="timeIcon" size="lg"></fa-icon> {{getDate(post.datee)}}</span></small>
                                </div>
                            </div>
                        </div>
                        <div class="cardbox-item" style="position: relative;"> 
                            <div id="carousel_{{post._id}}" class="carousel slide"  data-interval="3000" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div *ngFor="let image of post.images ;let i = index; let last = last" [ngClass]="(image.iterator==='0')?'carousel-item active':'carousel-item'">
                                    <img class="d-block w-100" src="{{image.url}}" alt="slide">
                                  </div>
                                </div>
                                <a *ngIf="post.images?.length > 1" class="carousel-control-prev" href="#carousel_{{post._id}}" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span  class="sr-only">Previous</span>
                                </a>
                                <a *ngIf="post.images?.length > 1" class="carousel-control-next" href="#carousel_{{post._id}}" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span  class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="cardbox-item text-dark bg-white text-left p-3 m-0">
                                <div *ngFor="let file of post.files" class="col-12 mx-auto my-3 p-0 bg-light rounded">
                                    <div class="row p-0 m-0">
                                      <div class="col-2 p-0 m-0">
                                            <fa-icon  [icon]="fileIcon" class="m-0 p-0" size="3x"></fa-icon>
                                        </div>
                                        <div class="col-10 m-0 p-0 ">
                                            <a href="{{file.url}}" target="_blank" class="bold text-dark" style="word-break: break-all;text-decoration: none;">
                                                {{file.name}}
                                            </a>
                                        </div>
                                    </div>
                                    
                                </div>     
                        </div>
                        <div class="cardbox-item text-dark bg-white text-left px-3 m-0">
                            <p class="m-0">{{post.content}} </p>
                        </div>
                        
                        <div class="cardbox-base text-center row p-3 bg-white m-0 text-dark">									
                            <div class="col-lg-8 col-md-10 col-12 m-auto">
                                <div class="row p-0 m-0">
                                    <div [ngClass]="(post.is_liked=='0')?'':'active_blue'" (click)="(post.is_liked=='0')?like(post._id):unlike(post._id)" class="col-6 text-center m-0 p-0 pointer  hover_blue">
                                        <fa-icon [icon]="likeIcon" class="text-center" size="2x"></fa-icon>
                                        <span> {{post.totalLikes}}</span>
                                    </div>	
                                    <a href="#collapseComments_{{post._id}}" id="collapseCommentsToggle_{{post._id}}" class="col-6 text-center m-0 p-0 pointer text-dark hover_orange" style="text-decoration: none;" type="button" data-toggle="collapse"  >
                                        <fa-icon [icon]="commentIcon" class="text-center" size="2x" ></fa-icon>
                                        <em id="tot{{post._id}}"> {{post.totalComments}}</em>
                                    </a>	
                                </div>
                            </div>										
                        </div>
                        <div  class="collapse row p-0 bg-white border-1 comments m-0 text-dark" style="height:100%" id="collapseComments_{{post._id}}">
                            <div *ngIf="post.comment!='undefined'" class="card card-body col-12 border-0" id="Commentsdiv_{{post._id}}">
                                <div *ngFor="let comment of post.comment"  class="row p-0 my-2 border_round shadow-sm h-auto bg-light" >
                                    <div class="col-12 p-0 m-0 ">
                                        <div class="row p-1 m-0 text-center">
                                            <div class="col-2 text-center">
                                                <img class="border_round p-0 my-3 pointer" (click)="visitProfile(comment._id_user)" width="60" height="60" src="{{profile_pic_target}}{{comment._id_user}}.jpg" onError="this.src='../../assets/images/noprofile.jpg';"  alt="profile image" >
                                            </div>
                                            <div class="col-10 m-0 p-0 comment-text">
                                                <div class="row p-0 m-0 ">
                                                    <div class="col-6 bold text-left pointer text-success" (click)="visitProfile(comment._id_user)">
                                                        {{upperCase(comment.lastname)}}  {{comment.firstname}}
                                                    </div>
                                                    <div class="col-6 text-muted text-right ">{{getDate(comment.datee)}}</div>
                                                </div>
                                                <div class="row p-0 m-0 mt-1">
                                                    <div class="col-9 m-auto text-left">{{comment.content}}</div> 
                                                    <div class="col-3 m-auto text-center p-0 my-auto ">
                                                        <div class="row p-0 m-0">
                                                            <div *ngIf="checkIdUser(comment._id_user)||infoservice.authService.isAdmin" class="col-6 m-auto text-center p-0 my-auto pointer text-danger"  type="button" (click)="deleteComment(comment._id,post._id)"><fa-icon [icon]="deleteIcon" size="lg"></fa-icon></div>
                                                            <a href="#collapseReplies_{{comment._id}}" class="col-6 m-auto text-center p-0 my-auto pointer hover_blue"  type="button" (click)="getReplies(post._id,comment._id)" data-toggle="collapse"  style="text-decoration: none;"><fa-icon [icon]="replyIcon" size="lg"></fa-icon></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse row p-2 border-1 replies border-top ml-4 mr-2 text-dark w-100" id="collapseReplies_{{comment._id}}">
                                        <div *ngIf="comment.reply!='undefined'" class="col-12 w-100 p-0 my-2 bg-white border_round border-bottom">
                                            <div *ngFor="let reply of comment.reply " class="row p-1 m-0 text-center">
                                                <div class="col-2 text-center">
                                                    <img class="border_round p-0 my-3 pointer" (click)="visitProfile(reply._id_user)" width="50" height="50" src="{{profile_pic_target}}{{reply._id_user}}.jpg" onError="this.src='../../assets/images/noprofile.jpg';"  alt="profile image">
                                                </div>
                                                <div class="col-10 m-0 p-0 comment-text">
                                                    <div class="row p-0 m-0">
                                                        <div class="col-7 bold text-primary text-left pointer" (click)="visitProfile(reply._id_user)">
                                                            {{upperCase(reply.lastname)}}  {{reply.firstname}}
                                                        </div>
                                                        <div class="col-5 text-muted text-right ">{{getDate(reply.datee)}}</div>
                                                    </div>
                                                    <div class="row p-0 m-0 mt-1">
                                                        <div class="col-9 m-auto text-left">{{reply.content}}</div> 
                                                        <div class="col-3 m-auto text-center p-0 my-auto ">
                                                                <div *ngIf="checkIdUser(reply._id_user)||infoservice.authService.isAdmin" class="row float-right mx-4 text-center p-0 my-auto pointer text-danger"  type="button" (click)="deleteReply(reply._id,comment._id,post._id)"><fa-icon [icon]="deleteIcon" size="lg"></fa-icon></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 p-0 float-right text-right w-100 my-2">
                                            <div class="row px-3 m-0">
                                                <span *ngIf="comment.totalReplies==0"  class="text-center text-primary bold m-auto col-8">Be the first to reply!</span>
                                                <fa-icon *ngIf="comment?.totalReplies>comment?.skip && comment?.totalReplies>0 " (click)="appendReplies(post._id,comment._id,comment.skip)"  [icon]="moreIcon" class="btn text-primary hover_orange border_round col-3 m-auto p-0" size="2x"></fa-icon>
                                            </div>
                                            <form class="row px-3 m-0">
                                                <div class="comment col-10 p-0 m-0 h-auto ">
                                                    <input type="text" class=" bold border_round text-primary border-primary cursor_txt w-100 h-auto m-2 my-3 p-3" id="textarea_{{comment._id}}" require cols="30" rows="1"  placeholder="Write a reply" autosize>
                                                </div>
                                                <button class="btn bold col-2 float-right m-0 p-0" (click)="postReply(comment._id,post._id)">
                                                    <fa-icon [icon]="sendIcon" class="btn text-primary hover_orange border_round m-0 p-0 " size="2x"></fa-icon>
                                                </button>
                                            </form>	             
                                        </div> 
                                    </div>
                                </div>     
                                                            
                            </div>
                            <div class="col-12 p-0 my-2">
                                <div class="row">
                                    <span  *ngIf="post.totalComments==0" class="text-center text-primary bold m-auto col-8">Be the first to comment!</span>
                                    <fa-icon *ngIf="post?.totalComments>post.comment?.skip && post?.totalComments>0" (click)="appendComments(post._id,post.comment.skip)" [icon]="moreIcon" class="btn text-success hover_orange border_round col-3 m-auto p-0" size="2x"></fa-icon>
                                </div>
                                <form class="row px-3 m-0">
                                    <div class="comment col-10 p-0 m-0 h-auto">
                                        <input type="text" class="border_round cursor_txt text-success border-success w-100 h-auto m-2 my-3 p-3" id="textarea_{{post._id}}" require cols="30" rows="1"  placeholder="Write a comment" autosize>
                                    </div>
                                    <button class="btn col-2 float-right m-0 p-0" (click)="postComment(post._id)">
                                        <fa-icon [icon]="sendIcon" class="btn text-primary hover_orange m-0 p-0 " size="2x"></fa-icon>
                                    </button>
                                </form>	
                            </div>
                        </div>
                            
                        		  
                    </div>
                    <small id="pageLoad" class="d-none" >
                          <div class="spinner-grow text-success mx-2" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                          <div class="spinner-grow text-warning mx-2" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                          <div class="spinner-grow text-info mx-2" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                          <div class="spinner-grow text-danger mx-2" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                    </small>
                </div>
            </div>
        
        </div>           
    </div>
</div>