<div class="row m-auto text-center main">
    <div class="col-lg-6 col-md-8 col-12 m-auto text-center">
        <div class="row ">
            <div class="col-12 p-2">
                <h1>Oops!</h1>
            </div>
            <div class="col-12 p-0 text-danger">
                <h2>404 Not Found</h2>
            </div>
            <div class="col-12 p-4 text-muted">
                Sorry, an error has occured, Requested page not found!
            </div>
            <div class="col-lg-10 col-md-12 col-12 m-auto p-4">
                <div class="row m-auto text-center">
                    <div class="col-lg-6 col-md-6 col-10 m-auto">
                        <a href="" class="btn btn-primary btn-lg"><fa-icon  [icon]="homeIcon" size="lg"></fa-icon> Take Me Home </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-10 m-auto">
                        <a href="" class="btn text-warning btn-lg"><fa-icon  [icon]="supportIcon" size="lg"></fa-icon> Contact Support </a>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
