<div *ngIf="auth.isLoggedIn" class="col-lg-8 col-md-8 order-md-2 order-2 px-0 p-0 mx-0 ">
    <div class="row p-0 pt-3 m-5">
        <div class="col-lg-12 col-md-12 col-12 text-center m-auto p-0">
            <div class="row p-0 pb-3 text-success  m-0 m-4 text-center">
                <div class="col-12 m-auto p-0">
                    <h2>{{Classe?.name}}</h2>
                    <fa-icon [icon]="groupListIcon" class="m-auto p-0" size="3x"></fa-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-0 m-0">
       
      
        <div *ngFor="let group of Classe?.groups" class="col-lg-6 col-10  pointer m-auto h-100"  (click)="classroom(group._id)">
            <div class="row p-0 m-4 shadow h-100">
                <div class="col-4 p-0 h-100">
                    <img src="{{group?.teacher.profile_pic}}" onError="this.src='../../assets/images/noprofile.jpg';" class="p-0 m-0" width="100%" height="110"/>
                </div>
                <div class="col-8 m-auto text-center">
                   <span class="m-auto text-center h-100 bold text-success">
                        <h4>{{group?.teacher.firstname}} {{group?.teacher.lastname}}
                            <fa-icon [icon]="openlinkIcon" class="m-auto p-0" size="sm"></fa-icon>
                        </h4>                
                   </span>
                </div>
            </div>
        </div>



    </div>
</div>