
<div *ngIf="authService.isLoggedIn" class="profile-sidebar col-lg-4 col-md-4 order-md-1 order-1">
    <div class="profile-userpic text-center float-left w-100 pointer">
        <img src="{{profile_pic}}" (click)="visitProfile(user?._id)" onError="this.onerror=null;this.src='../../assets/images/noprofile.jpg';" class="img-responsive text-center border_round mb-2" width="80" height="80" alt="profile image">
    </div>
    <div class="profile-usertitle bg-light rounded">
        <div class="profile-usertitle-name pointer" (click)="visitProfile(user?._id)">
            {{user?.lastname}} {{user?.firstname}}
        </div>
        <div class="profile-usertitle-job">
            {{user?.prog}}
            {{user?.speciality}}
            {{user?.fonction}}
        </div>
        <div class="profile-userbuttons">
            <a class="btn text-danger border-0 m-2 pointer hover_orange" (click)="logout()">
                <fa-icon  [icon]="signoutIcon" size="2x"></fa-icon>
            </a>
        </div>
    </div>
    <div class="profile-usermenu text-left mx-auto my-3 col-10">
        <ul class="navbar-nav text-left">
            <li routerLink="/home" routerLinkActive="active">
                <a class="btn row text-left ">
                <fa-icon  [icon]="newsfeedIcon" class="float-left col-5 text-primary" size="2x"></fa-icon>
                <span class="col-6 float-left text-left ">Newsfeed </span></a>
            </li>
            <li routerLink="/profile" routerLinkActive="active" >
                <a class="btn row text-left ">
                    <fa-icon  [icon]="profileIcon" class="float-left col-5 text-dark" size="2x"></fa-icon>
                <span class="col-6 float-left">Profile</span> </a>
            </li>
            <li routerLink="/inbox" class="disabled" routerLinkActive="active">
                <a class="btn row text-left " >
                <fa-icon  [icon]="inboxIcon" class="disabled float-left col-5 text-warning" size="2x"></fa-icon>
                <span class="col-6 float-left">Inbox</span> </a>
            </li>
            <li *ngIf="authService.isAdmin" routerLink="/dashboard" routerLinkActive="active">
                <a class="btn row text-left " >
                <fa-icon  [icon]="dashboardIcon" class="float-left col-5 text-success" size="2x"></fa-icon>
                <span class="col-6 float-left">Dashboard</span> </a>
            </li>
        </ul>
    </div>
</div>
