
.profile-sidebar{
    position: fixed;
    top:5vh;
    right:1vw;
    width:100%;
    max-height:120vh;
    margin-top:20px;
    margin-bottom:30px;
    text-align:center;
    overflow: auto;
    z-index:1;
}
li:focus{
  outline: none;
}

.profile {
    margin: 20px 0;
    position:sticky;
  }
  
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
  }
  
  .profile-userpic img {
    margin: auto;
    border:5px white solid;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
  }
  
  
      
  .profile-usermenu {
    margin-top: 30px;
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  .profile-usermenu {
      padding:0;
      margin:auto;
  }
  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 18px;
    font-weight: 400;
    width:100%;
    float:left;
  }
  
  .profile-usermenu span{
      margin:auto;
  }
  .profile-usermenu  i {
    margin-right: 12px;
    float:left;
  }
  
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }
  
  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
  }



  .disabled {
    pointer-events:none;
    opacity:0.6; 
}

@media (max-width: 767px)  {
    .profile-sidebar{
    position: relative;
    width:100%;
    min-height:55vh;
    margin-top:0vh;
    margin-bottom:30px;
    text-align:center;
    z-index:1;
    }
}