<div class="row p-0 m-0">
    <div class="col-10 text-center m-auto">
        <header class="header row p-0 m-0">
            <nav class="navbar navbar-default navbar-fixed-top text-left menu col-10 p-0 m-0">
                <div class="container p-0 m-0">
                    <a class="navbar-brand bg-light border_round p-0 m-2" href="/">
                        <img src="/assets/images/logo.png" width="50" height="50" class="d-inline-block align-top" alt="logo image">
                    </a>
                </div>
            </nav>
            <div class="col-2 p-0 m-0 text-right">
                <div class="container p-0 m-0">
                    <div class="btn btn-outline-info border-0 m-2 pointer" data-toggle="collapse" data-target="#about" aria-expanded="false" aria-controls="about">
                        <fa-icon  [icon]="infoIcon" size="2x"></fa-icon>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>