
.dropdown-item:active {
    background-color: #17a2b8!important;
}

  .back-to-top {
      cursor: pointer;
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index:3;
      padding-left:28px;
      padding-right:28px;
      padding-top:10px;
      padding-bottom:10px;
  }
  
  .cardbox-base, .cardbox-item, .comments{
        border-bottom: 1px solid #f0f4f7;
        border-top: 1px solid #f0f4f7;
  
  }
  
  .comment-text{
    padding-left:20px !important;
}
  
  @media (max-width: 1200px) {
      #myContainer {
      width: 97.5%; 
      }
      
  }
  @media (max-width: 767px) {
      .main-section{
        height:100vh;
      }
  }
  .modal:before { 
    content: ''; 
    display: inline-block; 
    height: 100%; 
    vertical-align: middle; 
} 
  
.modal-dialog { 
    display: inline-block; 
    vertical-align: middle; 
} 
  
.modal .modal-content { 
    padding: 20px 20px 20px 20px; 
    -webkit-animation-name: modal-animation; 
    -webkit-animation-duration: 0.5s; 
    animation-name: modal-animation; 
    animation-duration: 0.5s; 
} 
  
.modal-confirm {		
  color: #636363;
  width: 325px;
  font-size: 14px;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-confirm .modal-header {
  border-bottom: none;   
  position: relative;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px; 
}
.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -5px;
}	
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}	
.modal-confirm .icon-box {
  color: #fff;		
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #82ce34;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
  font-size: 58px;
  position: relative;
  top: 3px;
}
.modal-confirm.modal-dialog {
  margin-top: 80px;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #82ce34;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
  background: #6fb32b;
  outline: none;
}
input[type=text]:focus{
  outline: none;
}


