<div *ngIf="auth.isLoggedIn" class="col-lg-8 col-md-8 order-md-2 pt-5 order-2 px-0 p-0 mx-0 ">
    <div class="row text-center p-0 m-0">
        <div id="confirmModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="icon-box">
                            <fa-icon [icon]="checkIcon" class="text-center" size="4x" ></fa-icon>
                        </div>				
                        <h4 class="modal-title w-100">Done!</h4>	
                    </div>
                    <div class="modal-body">
                        <p class="text-center">Your operation has been confirmed.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success btn-block" id="confirmmodalbtn" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div> 
        <div class="modal fade" id="photoModal" role="dialog" >
            <div class="modal-dialog ">     
                <div class="modal-content">
                    <div>
                        <div class="modal-header text-center text-primary row p-0 m-0">
                            <button type="button" class="close col-2 float-right" data-dismiss="modal">&times;</button>
                            <br/>
                            <h3 class="m-auto pb-3 col-12">Change Class Image</h3>

                        </div>
                        <div class="modal-body">               
                            <img id="imagemodal" [src]="url" *ngIf="url"/>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" (click)="onSubmitImageForm()" data-dismiss="modal">Confirm</button>
                            <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>	
        </div> 
    </div> 
    <button class="btn btn-primary ml-auto" type="button" data-toggle="modal" [hidden]="true" id="openConfirmModalButton" data-target="#confirmModal" >confirm</button>
    
    <div class="tabs pt-5 my-5">
        <div class="text-center text-success mb-3 pb-3"><fa-icon [icon]="dashboardIcon" class="m-auto p-3" size="3x"></fa-icon></div>
        <input type="radio" id="tab1" name="tab-control" checked>
        <input type="radio" id="tab2" name="tab-control">
        <input type="radio" id="tab3" name="tab-control">  
        <input type="radio" id="tab4" name="tab-control">
        <ul>
           <li title="Add">
              <label for="tab1" role="button">
                    <fa-icon [icon]="addIcon" class="m-auto p-0" size="sm"></fa-icon>
                    <br>
                    <span> Add</span>
             </label>
            </li>
            <li title="Edit">
                <label for="tab2" role="button">
                      <fa-icon [icon]="editIcon" class="m-auto p-0" size="sm"></fa-icon>
                      <br>
                      <span> Edit</span>
            </label>
            </li>
            <li title="Statistics">
            <label for="tab3" role="button">
                    <fa-icon [icon]="statisticsIcon" class="m-auto p-0" size="sm"></fa-icon>
                    <br>
                    <span> Statistics</span>
            </label>
            </li>
            <li title="Reports" class="disabled">
            <label for="tab4" role="button">
                    <fa-icon [icon]="reportsIcon" class="m-auto p-0" size="sm"></fa-icon>
                    <br>
                    <span> Reports</span>
            </label>
            </li>
        </ul>
        
        <div class="slider"><div class="indicator"></div></div>
        <div class="content">
            <section>
                <h2>Add</h2>
                <div class="row p-0 m-0">
                    <div class="col-lg-6 col-12 m-auto">
                        <h3>Add User</h3>
                        <div class="form-group">
                            <div class="input-group  mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                    <fa-icon [icon]="userIcon" class="m-auto p-0" size="lg"></fa-icon>
                                    </span>
                                </div>
                                <input type="text" aria-label="First name" id="Firstname" placeholder="Firstname" class="form-control">
                                <input type="text" aria-label="Last name" id="Lastname" placeholder="Lastname" class="form-control">
                            </div>
                        
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">
                                    <fa-icon [icon]="birthdateIcon" class="m-auto p-0" size="lg"></fa-icon>
                                  </span>
                                </div>
                                <input type="date" class="form-control" aria-label="Birthdate" id="Birthdate" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">
                                    <fa-icon [icon]="programIcon" class="m-auto p-0" size="lg"></fa-icon>
                                  </span>
                                </div>
                                <input type="text" class="form-control" placeholder="program/speciality"  id="Program" aria-label="Prog" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">
                                    <fa-icon [icon]="idIcon" class="m-auto p-0" size="lg"></fa-icon>
                                  </span>
                                </div>
                                <input type="text" class="form-control" autocomplete="off"  placeholder="Identificator" id="Identificator" aria-label="Identificator" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">
                                    <fa-icon [icon]="passwordIcon" class="m-auto p-0" size="lg"></fa-icon>
                                  </span>
                                </div>
                                <input type="password" autocomplete="new-password" class="form-control" placeholder="Password" id="Password" aria-label="Password" aria-describedby="basic-addon1">
                            </div>
                            <form id="myform" class="input-group mb-3">
                                <div class="col-6 bold text-center">
                                    <input type="radio" id="student" name="role" value="student"><br>
                                    <label for="student"> Student</label>
                                </div>
                                <div class="col-6 bold text-center text-warning">
                                    <input type="radio" id="teacher" name="role" value="teacher"><br>
                                    <label for="teacher"> Teacher</label>
                                </div>
                            </form>
                            <div class="input-group mb-3">
                                <button (click)="addUser()" class="btn btn-success bold col-6 text-center m-auto">
                                    ADD
                                </button>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 m-auto ">
                        <div class="row p-0 m-0 ">
                            <div class="col-12 m-0  vl">
                                <div class="row p-0 m-0">
                                    <h3>Add semester</h3>
                            
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1">
                                            <fa-icon [icon]="sessionsIcon" class="m-auto p-0" size="lg"></fa-icon>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Semester name ex:SU-2020" id="Semestername" aria-label="Classname" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1">
                                            <fa-icon [icon]="descriptionIcon" class="m-auto p-0" size="lg"></fa-icon>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Description ex:Summer 2020" id="Semesterdescription" aria-label="Classname" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group m-3">
                                        <button (click)="addSemester()" class="btn btn-success col-6 bold text-center m-auto">
                                            ADD
                                        </button>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-12 m-0 vl">
                                <div class="row p-0 m-0">
                                    <h3>Add class</h3>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1">
                                            <fa-icon [icon]="classIcon" class="m-auto p-0" size="lg"></fa-icon>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Class name" id="Classname" aria-label="Classname" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1">
                                            <fa-icon [icon]="descriptionIcon" class="m-auto p-0" size="lg"></fa-icon>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Class description" id="Classdescription" aria-label="Classdescription" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="addsemestertoclass">Semesters</label>
                                          </div>
                                          <select class="custom-select" id="addsemestertoclass">
                                            <option *ngFor="let semester of semesters" value="{{semester._id}}">{{semester.name}} / {{semester.description}}</option>
                                          </select>
                                       
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1">
                                            <fa-icon [icon]="idIcon" class="m-auto p-0" size="lg"></fa-icon>
                                          </span>
                                        </div>
                                        <input type="text" class="form-control" id="IdentificatorAdd" placeholder="Identificator" aria-label="Identificator" aria-describedby="basic-addon1">
                                        <div class="input-group-append">
                                            <span class="input-group-text pointer text-success bg-white" (click)="add()" id="basic-addon1">
                                              <fa-icon [icon]="addIcon" class="m-auto p-0" size="lg"></fa-icon>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12 border d-flex h-auto">
                                        <div  class="row p-0 m-0 ">
                                            <div *ngFor="let user of users" class="m-auto col-12 py-1 text-left">
                                                <fa-icon [icon]="userIcon" [ngClass]="user.role=='teacher'?'text-warning':''" class="m-auto p-0" size="lg"></fa-icon>
                                                {{user.name}} 
                                                <fa-icon [icon]="removeIcon" class="m-auto p-0 text-danger pointer" (click)="remove(user._id)" size="lg"></fa-icon>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group m-3">
                                        <button (click)="addClass()" class="btn btn-success col-6 bold text-center m-auto">
                                            ADD
                                        </button>
                                    </div> 
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </section>
            <section>
                <h2>Edit</h2>
                <div class="row p-0 m-0">
                    <div class="col-lg-6 col-12 m-auto">
                        <h3>Edit User</h3>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">
                                    <fa-icon [icon]="idIcon" class="m-auto p-0" size="lg"></fa-icon>
                                  </span>
                                </div>
                                <input type="text" class="form-control" id="IdentificatorEdit" placeholder="Identificator" aria-label="Identificator" aria-describedby="basic-addon1">
                                <div class="input-group-append">
                                    <span class="input-group-text pointer text-success bg-white" (click)="checkUser()" id="basic-addon1">
                                       <fa-icon [icon]="checkIcon" class="m-auto p-0" size="lg"></fa-icon> Check
                                    </span>
                                </div>
                            </div>
                            <div class="input-group  mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                    <fa-icon [icon]="userIcon" class="m-auto p-0" size="lg"></fa-icon>
                                    </span>
                                </div>
                                <input type="text" aria-label="First name" id="EditFirstname" placeholder="Firstname" class="form-control">
                                <input type="text" aria-label="Last name" id="EditLastname" placeholder="Lastname" class="form-control">
                            </div>
                            <input type="text" [hidden]="true" aria-label="id" id="EditIdUser" placeholder="Id" class="form-control">
                            <input type="text" [hidden]="true" aria-label="role" id="EditRoleUser" placeholder="Role" class="form-control">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">
                                    <fa-icon [icon]="birthdateIcon" class="m-auto p-0" size="lg"></fa-icon>
                                  </span>
                                </div>
                                <input type="date" class="form-control" aria-label="Birthdate" id="EditBirthdate" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">
                                    <fa-icon [icon]="programIcon" class="m-auto p-0" size="lg"></fa-icon>
                                  </span>
                                </div>
                                <input type="text" class="form-control" placeholder="program/speciality"  id="EditProgram" aria-label="Prog" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <button (click)="removeUser()" class="btn btn-danger bold col-6 text-center m-auto">
                                    Remove
                                </button>
                                <button (click)="editUser()" class="btn btn-warning bold col-6 text-center m-auto">
                                    Apply
                                </button>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 m-auto vl">
                        <div class="row p-0 m-0 ">
                            <h3>Edit class</h3>
                            
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">
                                    <fa-icon [icon]="classIcon" class="m-auto p-0" size="lg"></fa-icon>
                                </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Class name" id="ClassnameEdit" aria-label="Classname" aria-describedby="basic-addon1">
                                <div class="input-group-append">
                                    <span class="input-group-text pointer text-success bg-white" (click)="checkClass()" id="basic-addon1">
                                       <fa-icon [icon]="checkIcon" class="m-auto p-0" size="lg"></fa-icon> Check
                                    </span>
                                </div> 
                            </div>
                            <div *ngIf="EditedClass.groups"  class="col-12 my-2 p-0">
                                <div class="col-12 p-0 m-0 text-center">
                                    <div [innerHtml]='msg' *ngIf="msg" class="text-danger py-2 my-2 bold text-center" ></div>
                                </div>
                                <button class="btn btn-primary ml-auto" type="button" data-toggle="modal" [hidden]="true" id="openModalButton" data-target="#photoModal" >open</button>
                                <div class="row p-0 m-0 text-center profile-img" style="position: relative;">
                                    <img src="{{class_pic}}" onError="this.src='../../assets/images/noimage.jpg';" alt="class image"/>
                                    <input  (change)="upload($event)"  type="file" accept='image/*' id ="uploadbtn" class="pointer" [hidden]='true' name="file"/>
                                    <div class="file btn btn-lg btn-primary " (click)="uploadClick(EditedClass._id)">
                                        <span>change photo</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div *ngIf="EditedClass.groups" class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">
                                    <fa-icon [icon]="descriptionIcon" class="m-auto p-0" size="lg"></fa-icon>
                                </span>
                                </div>
                                <input type="text" class="form-control" value="{{EditedClass.description}}" placeholder="Class description" id="ClassdescriptionEdit" aria-label="Classdescription" aria-describedby="basic-addon1">
                            </div>
                            <div *ngIf="EditedClass.groups" class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="editsemesterofclass">Semesters</label>
                                  </div>
                                  <select class="custom-select" id="editsemesterofclass">
                                    <option *ngFor="let semester of semesters" [attr.selected]="semester._id==EditedClass.semester[0]._id ? true:null" value="{{semester._id}}">{{semester.name}} / {{semester.description}}</option>
                                  </select>
                            </div>
                            <div *ngFor="let group of EditedClass.groups" class="col-12 my-2 py-2 border h-auto">
                                
                                <div class=" row p-0 m-auto mb-3">
                                    <div class="col-12 p-0 m-0 text-center">
                                        <fa-icon [icon]="removeIcon" class="float-right p-0 text-danger pointer" (click)="removeGroup(group._id)" size="lg"></fa-icon>
                                        <h3>Group</h3>
                                    </div>
                                    <div class="col-12 m-auto">
                                        <div class="row input-group p-0 m-0 d-flex">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <fa-icon [icon]="idIcon" class="m-auto p-0" size="lg"></fa-icon>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" id="IdentificatorEditClassAdd_{{group._id}}" placeholder="Identificator" aria-label="Identificator" aria-describedby="basic-addon1">
                                            <div class="input-group-append">
                                                <span class="input-group-text pointer text-success bg-white" (click)="addEditClass(group._id)" id="basic-addon1">
                                                <fa-icon [icon]="addIcon" class="m-auto p-0"  size="lg"></fa-icon>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row p-0 m-0 ">
                                    <div *ngFor="let user of group.group.student" class="m-auto col-12 py-1 text-left">
                                        <fa-icon [icon]="userIcon" [ngClass]="user?.role=='teacher'?'text-warning':''" class="m-auto p-0" size="lg"></fa-icon>
                                       {{user?.lastname}}  {{user?.firstname}} 
                                        <fa-icon [icon]="removeIcon" class="m-auto p-0 text-danger pointer" (click)="removeEditClass(group._id,user._id)" size="lg"></fa-icon>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="EditedClass.groups" class="col-12">
                                <h4>New group</h4>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <fa-icon [icon]="idIcon" class="m-auto p-0" size="lg"></fa-icon>
                                    </span>
                                    </div>
                                    <input type="text" class="form-control" id="IdentificatorEditClass" placeholder="Identificator" aria-label="Identificator" aria-describedby="basic-addon1">
                                    <div class="input-group-append">
                                        <span class="input-group-text pointer text-success bg-white" (click)="addEdit()" id="basic-addon1">
                                        <fa-icon [icon]="addIcon" class="m-auto p-0"  size="lg"></fa-icon>
                                        </span>
                                    </div>
                                </div>
                            </div>
                         
                            <div class="col-12 border d-flex h-auto">
                                <div  class="row p-0 m-0 ">
                                    <div *ngFor="let user of usersEdit" class="col-12 px-0 m-0 py-1 text-left">
                                        <fa-icon [icon]="userIcon" [ngClass]="user.role=='teacher'?'text-warning':''" class="m-auto p-0" size="lg"></fa-icon>
                                        {{user.name}} 
                                        <fa-icon [icon]="removeIcon" class="m-auto p-0 text-danger pointer" (click)="removeEdit(user._id)" size="lg"></fa-icon>
                                    </div>
                                    <div *ngIf="usersEdit.length>0" (click)=" appendGroup(EditedClass._id)" class="col-12 p-0 m-0 pointer alert-success text-center bold">
                                        <fa-icon [icon]="checkIcon" class="m-auto p-0"  size="lg"></fa-icon>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="input-group m-3"> 
                                <button (click)="editClass()" class="btn btn-warning col-6 bold text-center m-auto">
                                    Apply
                                </button>
                            </div> 
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h2>Statistics</h2>
                <div class="container text-center">
                    <div class="row text-center">
                      <div class="col-lg-4 m-auto col-sm-6">
                        <div class="circle-tile ">
                          <a><div class="circle-tile-heading dark-blue"> <fa-icon [icon]="classIcon" class=""  size="3x"></fa-icon></div></a>
                          <div class="circle-tile-content dark-blue">
                            <div class="circle-tile-description text-faded"> Users</div>
                            <div class="circle-tile-number text-faded ">{{user_count}}</div>
                          </div>
                        </div>
                      </div>
                       
                      <div class="col-lg-4 m-auto col-sm-6">
                        <div class="circle-tile ">
                          <a ><div class="circle-tile-heading green"><fa-icon [icon]="postsIcon" class=""  size="3x"></fa-icon></div></a>
                          <div class="circle-tile-content green">
                            <div class="circle-tile-description text-faded"> Posts </div>
                            <div class="circle-tile-number text-faded ">{{post_count}}</div>
                          </div>
                        </div>
                      </div> 
                    </div> 
                  </div>  
            </section>
            <section>
                <h2>Reports</h2>
            </section>
             </div>
      </div>
</div>