<div *ngIf="authService.isLoggedIn" class="col-lg-8 col-md-8 order-md-2 order-2 p-0 m-0 py-3 text-center my-5 float-left">
    <div class="row text-center p-0 m-0">
        <div id="confirmModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="icon-box">
                            <fa-icon [icon]="confirmIcon" class="text-center" size="4x" ></fa-icon>
                        </div>				
                        <h4 class="modal-title w-100">Done!</h4>	
                    </div>
                    <div class="modal-body">
                        <p class="text-center">Your operation has been confirmed.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success btn-block" id="confirmmodalbtn" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>  
    </div> 
    <button class="btn btn-primary ml-auto" type="button" data-toggle="modal" [hidden]="true" id="openConfirmModalButton" data-target="#confirmModal" >confirm</button>
    
    <div class="row p-0 m-auto" style="min-height:100vh;position:relative;">
        <div class="col-lg-12 col-md-12 p-0 py-3 text-center m-auto mb-5 mt-3">
           <div class="row p-0 m-0">
               <div class="col-lg-2 col-md-3 col-12">
                <div class="container-fluid mb-3 mt-0 pt-0 pb-3 mx-auto px-0" style="border-bottom:1px #f0f4f7 solid">
                    <div class="row p-0 mx-3">
                        <div class="w-100 pb-4" style="overflow-y:auto;">
                                <div class="m-2 flex">
                                    <div *ngFor="let student of students" class="container my-2 pointer"(click)="visitProfile(student._id)" >
                                        <div class="d-flex justify-content-center h-100">
                                            <div class="image_outer_container">
                                                <div class="image_inner_container">
                                                    <img src="{{student.profile_pic}}" tooltip="{{student.firstname}} {{student.lastname}}" placement="right" show-delay="500" onError="this.src='../../assets/images/noprofile.jpg';">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               
                                  
                                </div>
                        </div>
                    </div>
                </div>
               </div>
               <div class="col-lg-10 col-md-9 col-12">
                <div class="row p-0 pb-3 m-auto mb-4 text-center"> 
                    <div class="col-12">
                        <h2>Classroom</h2>
                        <fa-icon  [icon]="classroomIcon" class="col-2 text-dark m-auto p-0" size="3x"></fa-icon>
                    </div>
                    
                </div>
                <div class="m-auto" style="height:20vh;">             
                    <nav class="menu ml-3" style="z-index: 1;padding-top:10px;">
                        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
                        <label class="menu-open-button" for="menu-open">
                            <div class="d-flex justify-content-center h-100">
                                <div class="image_outer_container">
                                    <div class="image_inner_container">
                                        <img src="{{teacher.profile_pic}}" tooltip="{{teacher.firstname}} {{teacher.lastname}}" placement="right" show-delay="500" onError="this.src='../../assets/images/noprofile.jpg';">
                                    </div>
                                </div>
                            </div>
                        </label>  
                         <a href="#" class="menu-item item-1 shadow disabled">   
                              <fa-icon  [icon]="messageIcon" class="m-auto p-0 " size="3x"></fa-icon>
                         </a> 
                         <a href="mailto:{{teacher.email}}" class="menu-item item-2 shadow ">   
                              <fa-icon  [icon]="emailIcon" class="m-auto p-0" size="3x"></fa-icon>
                         </a> 
                          <a href="tel:{{teacher.phone}}" class="menu-item item-3 shadow">   
                              <fa-icon  [icon]="phoneIcon" class="m-auto p-0" size="3x"></fa-icon>
                         </a> 
                          <a href="#" class="menu-item item-4 shadow disabled">   
                              <fa-icon  [icon]="calendarIcon" class="m-auto p-0" size="3x"></fa-icon>
                         </a>
                          <a routerLink="/profile/{{teacher._id}}"  class="menu-item item-5 shadow">  
                               <fa-icon  [icon]="profileIcon" class="m-auto p-0" size="3x"></fa-icon>
                         </a> 
                          <a href="#" class="menu-item item-6 shadow disabled">  
                               <fa-icon  [icon]="addressIcon" class="m-auto p-0" size="3x"></fa-icon>
                         </a> 
                     </nav>  
                </div>
                <div class="row p-0 m-0">
                    <div class="col-lg-12 col-md-12 col-12 p-0 m-0">
                        <div class="form-group row p-0 m-0">
                            <div class="col-lg-10 col-md-12 m-auto p-0">
                                <div class="row border_round m-0 bg-light p-4">
                                    <div class="col-12" >
                                        <select id="post_type" class="w-auto float-right border-0 hover_orange btn btn-primary border_round p-2 bold">
                                            <option class="border-0 btn btn-light border_round" *ngFor="let opt of options" [value]="opt.key" [selected]="opt.selected == true">{{opt.value}}</option>
                                        </select>
                                    </div>
                                    <div class="col-12 p-0 m-0 text-center">
                                        <div [innerHtml]='msg' *ngIf="msg" class="text-danger py-2 my-2 bold text-center" ></div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-2 order-1 order-lg-1 p-0 m-0">
                                        <img src="{{profile_pic}}" onError="this.src='../../assets/images/noprofile.jpg';" alt="" width="60" height="60" class="border_round my-2" />
                                    </div>
                                    <textarea name="content" id="NewsTextarea" cols="30" rows="3" class="col-lg-12 col-md-12 order-lg-3 order-3 p-0 m-0 form-control rounded" placeholder="What's on your mind..." autosize></textarea>
                                    <div  *ngIf="URLs[0]" name="images" id="PhotosTextarea" class="col-12 order-lg-4 order-4 mt-2 h-auto rounded" placeholder="" autosize>
                                       <div class="row p-0 m-0">
                                            <div *ngFor="let url of URLs" class="col-6 my-2">
                                                <img src="{{url}}" class=" m-auto" width="100%"/>
                                            </div>
                                       </div>
                                        
                                    </div>
                                    <div  *ngIf="files[0]" name="images" id="FilesTextarea" class="col-12 order-lg-4 order-4 mt-2 h-auto rounded" placeholder="" autosize>
                                        <div *ngFor="let file of files" class="row mx-5 my-2 bg-white rounded">
                                            <div class="col-2 p-0 m-0">
                                                <fa-icon  [icon]="fileIcon" class="m-0 p-0" size="3x"></fa-icon>
                                            </div>
                                            <div class="col-10 m-auto p-0">
                                                <span class="bold">
                                                    {{file.name}}
                                                </span>
                                                <br/>
                                                <span class="text-muted">
                                                    {{file.size}}
                                                </span>
                                               
                                            </div>
                                              
                                        </div>
                                    </div>
                                    <div class="publishing-tools col-lg-6 m-auto col-md-10 col-10 py-3 px-0 order-2 order-lg-2 ">
                                        <div class="row p-0 m-0">
                                            <div class="col-lg-10 col-md-8 col-10 m-auto">	
                                                <div class="row p-0 m-0">
                                                    <a (click)="uploadFileClick()" class="col-lg-4 col-md-4 btn col-4 my-2 pointer text-muted hover_blue"><fa-icon  [icon]="attachementIcon" class="" size="lg"></fa-icon></a>
                                                    <a (click)="uploadImageClick()" class="col-lg-4 col-md-4 btn col-4 my-2 pointer text-muted hover_orange"><fa-icon [icon]="mediaIcon" class="" size="lg"></fa-icon></a>
                                                    <a (click)="send()" class="col-lg-4 col-md-4 btn col-4 my-2 pointer text-success hover_orange"><fa-icon [icon]="sendIcon" class="" size="lg"></fa-icon></a>
                                                    <input  (change)="uploadimage($event)"  accept='image/*' type="file" id ="uploadimagebtn" class="pointer" [hidden]='true' name="file"/>
                                                    <input  (change)="uploadfile($event)"  accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, text/html ,application/pdf" type="file" id ="uploadfilebtn" class="pointer" [hidden]='true' name="file"/>
                                                </div>
                                            </div>	
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                    <div class="row p-0 m-auto text-center">
                        <div class="col-lg-10 col-md-12 col-12 m-auto p-0">
                           
                            <select class="row mx-auto my-5 p-2 bg-light border_round bold" (change)="onChange($event.target.value)">
                                <option value="3">All</option>
                                <option value="0">None</option>
                                <option value="2">Searching</option>
                                <option value="1">offering</option>
                            </select>
                            
                   

                           
                            <div  *ngFor="let post of posts" class="cardbox text-center bg-light rounded shadow-sm mx-0 px-0 mt-5 pb-3 ">
                                <div class="cardbox-heading px-3">
                                    <div class="row dropdown p-0 m-0">
                                        <div class="col-12 p-0 m-0">
                                            <div class="float-left">
                                                <span *ngIf="post.type==1" class="badge badge-pill p-2 m-2 badge-success">offering</span>
                                                <span *ngIf="post.type==2" class="badge badge-pill p-2 m-2 badge-warning">Searching</span>
                                            </div>
                                            <button class="btn btn-flat btn-flat-icon float-right p-0 m-0" type="button" data-toggle="dropdown" aria-expanded="false">
                                                <fa-icon [icon]="optionsIcon" size="lg"></fa-icon>
                                            </button>
                                            <div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu" style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px;">
                                                <a *ngIf="checkIdUser(post.userinfo._id)||authService.isAdmin" (click)="deletePost(post._id)" class="dropdown-item delete-btn pointer"><fa-icon [icon]="deleteIcon" class="pl-0 ml-0 mr-2 text-danger" size="sm"></fa-icon> Delete</a>
                                                <a *ngIf="!checkIdUser(post.userinfo._id)" class="dropdown-item pointer" (click)="reportPost(post._id)"><fa-icon [icon]="reportIcon" class="text-warning pl-0 ml-0 mr-2" size="sm"></fa-icon> Report</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media row m-0 text-center pb-2">
                                        <div class=" col-lg-12 col-md-12 col-12 text-center">
                                            <div class="row p-0 m-0">
                                                <div class="col-3 m-auto p-0">
                                                    <img class="border_round p-0 m-0 mb-2 pointer" width="70" height="70" (click)="visitProfile(post.userinfo._id)" src="{{post.userinfo?.profile_pic}}" onError="this.src='../../assets/images/noprofile.jpg';" alt="profile image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body col-lg-12 col-md-12 col-12 text-center" >
                                            <h5 class="m-0 bold pointer"  [ngClass]="post.userinfo.fonction?'text-info':( post.userinfo.speciality?'text-warning': '')" (click)="visitProfile(post.userinfo._id)">{{upperCase(post.userinfo.lastname)}} {{post.userinfo.firstname}} </h5>
                                            <span class="text-secondary">{{post.userinfo?.prog}}{{post.userinfo?.speciality}}{{post.userinfo?.fonction}}</span>
                                            <br/>
                                            <small><span class="text-muted bold"><fa-icon [icon]="timeIcon" size="lg"></fa-icon> {{getDate(post.datee)}}</span></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="cardbox-item" style="position: relative;"> 
                                    <div id="carousel_{{post._id}}" class="carousel slide"  data-interval="3000" data-ride="carousel">
                                        <div class="carousel-inner">
                                          <div *ngFor="let image of post.images ;let i = index; let last = last" [ngClass]="(image.iterator==='0')?'carousel-item active':'carousel-item'">
                                            <img class="d-block w-100" src="{{image.url}}" alt="slide">
                                          </div>
                                        </div>
                                        <a *ngIf="post.images?.length > 1" class="carousel-control-prev" href="#carousel_{{post._id}}" role="button" data-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span  class="sr-only">Previous</span>
                                        </a>
                                        <a *ngIf="post.images?.length > 1" class="carousel-control-next" href="#carousel_{{post._id}}" role="button" data-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span  class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="cardbox-item text-dark bg-white text-left p-3 m-0">
                                    <div *ngFor="let file of post.files" class="col-12 mx-auto my-3 p-0 bg-light rounded">
                                        <div class="row p-0 m-0">
                                          <div class="col-2 p-0 m-0">
                                                <fa-icon  [icon]="fileIcon" class="m-0 p-0" size="3x"></fa-icon>
                                            </div>
                                            <div class="col-10 m-0 p-0 ">
                                                <a href="{{file.url}}" target="_blank" class="bold text-dark" style="word-break: break-all;text-decoration: none;">
                                                    {{file.name}}
                                                </a>
                                            </div>
                                        </div>
                                        
                                    </div>     
                            </div>
                            <div class="cardbox-item text-dark bg-white text-left px-3 m-0">
                                <p class="m-0">{{post.content}} </p>
                            </div>
                                
                            <div class="cardbox-base text-center row p-3 bg-white m-0 text-dark">									
                                <div class="col-lg-8 col-md-10 col-12 m-auto">
                                    <div class="row p-0 m-0">
                                        <div [ngClass]="(post.is_liked=='0')?'':'active_blue'" (click)="(post.is_liked=='0')?like(post._id):unlike(post._id)" class="col-6 text-center m-0 p-0 pointer  hover_blue">
                                            <fa-icon [icon]="likeIcon" class="text-center" size="2x"></fa-icon>
                                            <span> {{post.totalLikes}}</span>
                                        </div>	
                                        <a href="#collapseComments_{{post._id}}" id="collapseCommentsToggle_{{post._id}}" class="col-6 text-center m-0 p-0 pointer text-dark hover_orange" style="text-decoration: none;" type="button" data-toggle="collapse"  >
                                            <fa-icon [icon]="commentIcon" class="text-center" size="2x" ></fa-icon>
                                            <em id="tot{{post._id}}"> {{post.totalComments}}</em>
                                        </a>	
                                    </div>
                                </div>										
                            </div>
                            <div  class="collapse row p-0 bg-white border-1 comments m-0 text-dark" style="height:100%" id="collapseComments_{{post._id}}">
                                <div *ngIf="post.comment!='undefined'" class="card card-body col-12 border-0" id="Commentsdiv_{{post._id}}">
                                    <div *ngFor="let comment of post.comment"  class="row p-0 my-2 border_round shadow-sm h-auto bg-light" >
                                        <div class="col-12 p-0 m-0 ">
                                            <div class="row p-1 m-0 text-center">
                                                <div class="col-2 text-center">
                                                    <img class="border_round p-0 my-3 pointer" (click)="visitProfile(comment._id_user)" width="60" height="60" src="{{profile_pic_target}}{{comment._id_user}}.jpg" onError="this.src='../../assets/images/noprofile.jpg';"  alt="profile image" >
                                                </div>
                                                <div class="col-10 m-0 p-0 comment-text">
                                                    <div class="row p-0 m-0 ">
                                                        <div class="col-6 bold text-left pointer text-success" (click)="visitProfile(comment._id_user)">
                                                            {{upperCase(comment.lastname)}}  {{comment.firstname}}
                                                        </div>
                                                        <div class="col-6 text-muted text-right ">{{getDate(comment.datee)}}</div>
                                                    </div>
                                                    <div class="row p-0 m-0 mt-1">
                                                        <div class="col-9 m-auto text-left">{{comment.content}}</div> 
                                                        <div class="col-3 m-auto text-center p-0 my-auto ">
                                                            <div class="row p-0 m-0">
                                                                <div *ngIf="checkIdUser(comment._id_user) || authService.isAdmin" class="col-6 m-auto text-center p-0 my-auto pointer text-danger"  type="button" (click)="deleteComment(comment._id,post._id)"><fa-icon [icon]="deleteIcon" size="lg"></fa-icon></div>
                                                                <a href="#collapseReplies_{{comment._id}}" class="col-6 m-auto text-center p-0 my-auto pointer hover_blue"  type="button" (click)="getReplies(post._id,comment._id)" data-toggle="collapse"  style="text-decoration: none;"><fa-icon [icon]="replyIcon" size="lg"></fa-icon></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="collapse row p-2 border-1 replies border-top ml-4 mr-2 text-dark w-100" id="collapseReplies_{{comment._id}}">
                                            <div *ngIf="comment.reply!='undefined'" class="col-12 w-100 p-0 my-2 bg-white border_round border-bottom">
                                                <div *ngFor="let reply of comment.reply " class="row p-1 m-0 text-center">
                                                    <div class="col-2 text-center">
                                                        <img class="border_round p-0 my-3 pointer" (click)="visitProfile(reply._id_user)" width="50" height="50" src="{{profile_pic_target}}{{reply._id_user}}.jpg" onError="this.src='../../assets/images/noprofile.jpg';"  alt="profile image">
                                                    </div>
                                                    <div class="col-10 m-0 p-0 comment-text">
                                                        <div class="row p-0 m-0">
                                                            <div class="col-7 bold text-primary text-left pointer" (click)="visitProfile(reply._id_user)">
                                                                {{upperCase(reply.lastname)}}  {{reply.firstname}}
                                                            </div>
                                                            <div class="col-5 text-muted text-right ">{{getDate(reply.datee)}}</div>
                                                        </div>
                                                        <div class="row p-0 m-0 mt-1">
                                                            <div class="col-9 m-auto text-left">{{reply.content}}</div> 
                                                            <div class="col-3 m-auto text-center p-0 my-auto ">
                                                                    <div *ngIf="checkIdUser(reply._id_user) ||authService.isAdmin" class="row float-right mx-4 text-center p-0 my-auto pointer text-danger"  type="button" (click)="deleteReply(reply._id,comment._id,post._id)"><fa-icon [icon]="deleteIcon" size="lg"></fa-icon></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 p-0 float-right text-right w-100 my-2">
                                                <div class="row px-3 m-0">
                                                    <span *ngIf="comment.totalReplies==0"  class="text-center text-primary bold m-auto col-8">Be the first to reply!</span>
                                                    <fa-icon *ngIf="comment?.totalReplies>comment?.skip && comment?.totalReplies>0 " (click)="appendReplies(post._id,comment._id,comment.skip)"  [icon]="moreIcon" class="btn text-primary hover_orange border_round col-3 m-auto p-0" size="2x"></fa-icon>
                                                </div>
                                                <form class="row px-3 m-0">
                                                    <div class="comment col-10 p-0 m-0 h-auto ">
                                                        <input type="text" class=" bold border_round text-primary border-primary cursor_txt w-100 h-auto m-2 my-3 p-3" id="textarea_{{comment._id}}" require cols="30" rows="1"  placeholder="Write a reply" autosize>
                                                    </div>
                                                    <button class="btn bold col-2 float-right m-0 p-0" (click)="postReply(comment._id,post._id)">
                                                        <fa-icon [icon]="sendIcon" class="btn text-primary hover_orange border_round m-0 p-0 " size="2x"></fa-icon>
                                                    </button>
                                                </form>	             
                                            </div> 
                                        </div>
                                    </div>     
                                                                
                                </div>
                                <div class="col-12 p-0 my-2">
                                    <div class="row">
                                        <span  *ngIf="post.totalComments==0" class="text-center text-primary bold m-auto col-8">Be the first to comment!</span>
                                        <fa-icon *ngIf="post?.totalComments>post.comment?.skip && post?.totalComments>0" (click)="appendComments(post._id,post.comment.skip)" [icon]="moreIcon" class="btn text-success hover_orange border_round col-3 m-auto p-0" size="2x"></fa-icon>
                                    </div>
                                    <form class="row px-3 m-0">
                                        <div class="comment col-10 p-0 m-0 h-auto">
                                            <input type="text" class="border_round cursor_txt text-success border-success w-100 h-auto m-2 my-3 p-3" id="textarea_{{post._id}}" require cols="30" rows="1"  placeholder="Write a comment" autosize>
                                        </div>
                                        <button class="btn col-2 float-right m-0 p-0" (click)="postComment(post._id)">
                                            <fa-icon [icon]="sendIcon" class="btn text-primary hover_orange m-0 p-0 " size="2x"></fa-icon>
                                        </button>
                                    </form>	
                                </div>
                            </div>
                         
                                          
                            </div>


                            <small id="pageLoad" class="d-none" >
                                <div class="spinner-grow text-success mx-2" role="status">
                                  <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-warning mx-2" role="status">
                                  <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-info mx-2" role="status">
                                  <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-danger mx-2" role="status">
                                  <span class="sr-only">Loading...</span>
                                </div>
                          </small>  

                        </div>
                    </div>
               </div>


           </div>
            
          

        </div>
    </div>
</div>