
 .menulogin{
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  z-index: 3;
}

  .main-body {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
    width: 100vw;
    text-align: center;
    height:100vh;
  }
  .main-section{
    min-height:70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    overflow: hidden;
    text-align: center;
  }
  .login-mode-text{
      writing-mode: vertical-rl;
      text-orientation: mixed;
      cursor:pointer;
  }
  
  .bg-form {
    background-color:rgb(211,211,211); 
    background-color: rgba(211,211,211,0.4);
    color: white;
    font-weight: bold;
    z-index: 2;
    min-height:100%;
    min-width: 100%;
    text-align: center;
  }
  .login-box{
    background-color:white; 
    color: black;
    font-weight: bold;
  }