
<app-menu-login class=" menulogin"></app-menu-login><!--login page only-->
<app-bg-login></app-bg-login><!--login page only-->

<section class="row main-section p-0 m-0">
    <div class="col-lg-5 col-md-7 col-12 m-auto p-0">
        <div class="row">
            <div class="col-12 m-0 p-0">
                <div class="row p-0 m-0">
                    <div class="col-2 my-0 p-0 login-mode-text">
                        <div class="row">
                            <div class="col-10 m-auto">
                                <ul class="row bg-form m-0 rounded shadow p-0 nav">
                                    <li class="col-4 m-0 p-0"><div class=" btn-outline-light border-0 px-3 active" data-toggle="tab" href="#student_tab">Student</div></li>
                                    <li class="col-4 m-0 p-0"><div class="btn-outline-warning border-0 px-3" data-toggle="tab" href="#teacher_tab">Teacher</div></li>
                                    <li class="col-4 m-0 p-0"><div class="btn-outline-info border-0 px-3" data-toggle="tab" href="#admin_tab">Admin</div></li>
                                </ul>
                            </div>
                        </div>
                            
                    </div>

                    <div class="col-10 my-0 p-0 tab-content">
                        <div class="login-box p-5 rounded shadow tab-pane fade active show" id="student_tab">
                            <form class="form login-form" [formGroup]="signinFormStudent" (ngSubmit)="loginStudent()">
                                <h3 class="text-center text-dark m-4">Login Student</h3>
                                <div class="form-group">
                                    <input type="text" formControlName="da" name="da" id="da" placeholder="Your DA number" class="form-control border_round ">
                                </div>
                                <div class="form-group">
                                    <input type="password" formControlName="password" name="password" id="password" placeholder="Your password" class="form-control border_round ">
                                </div>
                                <div class="form-group"> 
                                    <p class="text-danger">{{StudentErreur}}</p>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-dark btn-md border_round bold" value="Login">
                                </div>
                            </form>
                        </div> 
                        <div class="login-box p-5 rounded shadow tab-pane fade " id="teacher_tab">
                            <form class="form login-form"  [formGroup]="signinFormTeacher" (ngSubmit)="loginTeacher()">
                                <h3 class="text-center text-warning m-4">Login Teacher</h3>
                                <div class="form-group">
                                    <input type="text" formControlName="da" name="da" id="da" placeholder="Your DA number" class="form-control border_round ">
                                </div>
                                <div class="form-group"> 
                                    <input type="password" formControlName="password" name="password" id="password" placeholder="Your password" class="form-control border_round ">
                                </div>
                                <div class="form-group"> 
                                    <p class="text-danger">{{TeacherErreur}}</p>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-warning btn-md border_round bold" value="Login">
                                </div>
                            </form>
                        </div>
                        <div class="login-box p-5 rounded shadow tab-pane fade " id="admin_tab">
                            <form class="form login-form" [formGroup]="signinFormAdmin" (ngSubmit)="loginAdmin()">
                                <h3 class="text-center text-info m-4">Login Admin</h3>
                                <div class="form-group">
                                    <input type="text" formControlName="da" name="da" id="da" placeholder="Your DA number" class="form-control border_round ">
                                </div>
                                <div class="form-group">
                                    <input type="password" formControlName="password" name="password" id="password" placeholder="Your password" class="form-control border_round ">
                                </div>
                                <div class="form-group"> 
                                    <p class="text-danger">{{AdminErreur}}</p>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-info btn-md border_round bold" value="Login">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>								
            </div>
        </div>
        </div>
</section>
