::-webkit-scrollbar {
  width: 10px;
}
::selection {
  background-color: #222;
  color: white;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
html{
    scroll-behavior:smooth;
}

.left_side{
    position: fixed !important;
    top:8vh;
    left:0;
    z-index: 0;
    width: 20vw;
    height: 92vh;
    direction:rtl; 
    overflow-x:hidden;
    overflow-y: auto;
}
ul.slider
{
  list-style:none;
  padding:0;
}
ul.slider>li {
  position: relative;
  left: -13vw;
  display:flex;
  transition:  2s;
}
ul.slider>li>div{
display:block;
position: relative;
transition: 3s;
color:#FFF;
text-align:center;
overflow: hidden;
}
ul.slider>li>a {
display:block;
position: relative;
color:#FFF;
transition:3s;
text-align:center;
overflow: hidden;
text-decoration: none;
}

.active_sessions{
    left:-10px !important;
    background-color: yellowgreen !important;
}
.left_side:hover
{
z-index: 1;
}
ul.slider>li:first-child:hover{
left: -13vw;
transition:0s;
}
ul.slider>li:hover {
left:-10px;
transition:2s;
} 
@media (max-width: 767px) {

  .left_side{
      display: none;
  }
  .mobile{
    display: flex !important;
    width: 100%;
    overflow: auto;
  }
  .name{
    min-width: 40%;
    text-align:center;
    transition: 2s ease-in-out;
  }
}