<div *ngIf="authService.isLoggedIn" class="col-lg-2 col-md-2 order-md-1 order-1 float-left w-100 left_side_parent  p-0  pr-3 m-0">
    <div class="row p-0 m-0 text-center left_side">
        <ul  *ngIf="authService.isTeacher || authService.isStudent" class=" col-12 w-auto p-0 m-0 slider">
            <li class="row p-0 m-0 my-4" >
                <div class="col-4 m-0 text-info text-center p-0">
                    <fa-icon  [icon]="classIcon" class="m-0 p-0" size="3x"></fa-icon>
                </div>
            </li>
            <li *ngFor="let Classe of Classes" class="row p-0 m-0 my-4 border_round_right shadow bg-dark">
                <div class="col-4 m-0 text-white text-left p-0  pointer">
                    <img src="{{class_pic_target}}{{Classe._id}}.jpg" onError="this.src='../../assets/images/noimage2.jpg';" tooltip=" {{Classe.description}} " placement="right" show-delay="500" alt="" width="100%" height="70" class="border_round_right"/>
                </div>
                <a (click)="classroom(Classe.id_group)" class="col-8 m-0 p-0  w-100" >
                    <div class="row p-0 m-0  h-100 w-100">
                        <div class="col-12 p-0 px-5 bold m-auto text-center pointer">
                            {{Classe.name}} 
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <ul *ngIf="authService.isAdmin" class="w-auto col-12 p-0 m-0 slider">
            <li class="row p-0 m-0 my-4" >
                <div class="col-4 m-0 text-info text-center p-0">
                    <fa-icon  [icon]="sessionsIcon" class="m-0 p-0" size="3x"></fa-icon>
                </div>
            </li>
     
     
      
            <li  *ngFor="let Session of Sessions" class="row p-0 m-0 my-4 w-100 border_round_right shadow W-2019 bg-primary" (click)="classes(Session._id)"  routerLinkActive="active_sessions" >
                <div class="col-4 m-auto text-white bold text-center p-0  pointer">
                    <p class="p-auto m-auto">{{Session.name}}</p>
               </div>
               <a  class="col-8 m-0 p-0 w-100" >
                    <div class="row p-0 m-0  h-100 w-100">
                        <div class="col-12 py-3 bold m-auto text-center pointer">
                            {{Session.description}}
                            <fa-icon  [icon]="classIcon" class="p-auto m-auto" size="lg"></fa-icon>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
   
</div>
<div *ngIf="authService.isLoggedIn" class="m-auto" style="width:100vw;height:auto">
    <div *ngIf="authService.isTeacher || authService.isStudent" class="d-none mobile" style="overflow-x: auto;"> 
        <div *ngFor="let Classe of Classes" class="m-auto name">
             <div (click)="classroom(Classe.id_group)" class="bg-dark text-white bold pointer p-3 my-4 mx-2 border_round shadow">
                    <p>{{Classe.name}}</p>
            </div>
        </div> 
       
    </div>
    <div *ngIf="authService.isAdmin" class="d-none mobile" style="overflow-x: auto;"> 
      
        <div  *ngFor="let Session of Sessions" class="m-auto name">
            <div class="bg-dark text-white bold pointer p-3 my-4 mx-2 border_round shadow" (click)="classes(Session._id)" routerLinkActive="active_sessions">
               <p>{{Session.name}}</p>
            </div>
        </div>

    </div>
</div>
