.bg-image {
    background-image: url("/assets/images/bg-1.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    min-height: 100vh;
    z-index: 3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform: scale(1.03);
  }

